
<div class=" content">
  <div class=" row">
    <div class="col-lg-12">
      <div class="logo-extras">
        <img src="./assets/logo-blanco.png">
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-lg-6 text-left">
              <h5 class=" card-category">Picks Per Hours</h5>
              <h2 class=" card-title"></h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv5" style="width: 100%; height: 410px; padding: 20px;"></div></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-lg-6 text-left">
              <h5 class=" card-category">Line Items Pick per Hours</h5>
              <h2 class=" card-title"></h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv6" style="width: 100%; height: 350px; padding: 20px;"></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Average Line item per order</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i>
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv7" style="width: 100%; height: 390px"></div></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Pending Orders</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv-2" style="width: 100%; height: 390px"></div></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Pending Orders</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv" style="width: 100%; height: 390px"></div></div>
        </div>
      </div>
    </div>


   

</div>
<!--<div class="row">
  <div class=" col-lg-6">
    <div class=" card card-chart">
      <div class=" card-header">
        <h5 class=" card-category"></h5>
        <h3 class=" card-title">
          <i class=" tim-icons icon-delivery-fast text-info"> </i> 
        </h3>
      </div>
      <div class=" card-body">
        <div class=" chart-area"><div id="chartdiv4" style="width: 100%; height: 390px"></div></div>
      </div>
    </div>
  </div>
  <div class=" col-lg-6">
    <div class=" card card-chart">
      <div class=" card-header">
        <h5 class=" card-category"></h5>
        <h3 class=" card-title">
          <i class=" tim-icons icon-delivery-fast text-info"> </i> 
        </h3>
      </div>
      <div class=" card-body">
        <div class=" chart-area"><div id="chartdiv6" style="width: 100%; height: 390px"></div></div>
      </div>
    </div>
  </div>
</div>-->
</div>
