
<div class=" content">
  <div class=" row">
    <div class=" col-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Total Orders</h5>
              <h2 class=" card-title">Annual</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv7" style="width: 100%; height: 410px; padding: 20px;"></div></div>
        </div>
      </div>
    </div>
    <div class=" col-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Orders</h5>
              <h2 class=" card-title">Performance</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv5" style="width: 100%; height: 350px; padding: 20px;"></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Total Shipments by state</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> 763,215
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv-2"></div></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Daily Sales</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 3,500€
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv3" style="width: 100%; height: 390px"></div></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Sales Month</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> 15.0000$
          </h3>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><div id="chartdiv" style="width: 100%; height: 390px"></div></div>
        </div>
      </div>
    </div>


   

</div>
<div class="row">
  <div class=" col-lg-6">
    <div class=" card card-chart">
      <div class=" card-header">
        <h5 class=" card-category"></h5>
        <h3 class=" card-title">
          <i class=" tim-icons icon-delivery-fast text-info"> </i> 
        </h3>
      </div>
      <div class=" card-body">
        <div class=" chart-area"><div id="chartdiv4" style="width: 100%; height: 390px"></div></div>
      </div>
    </div>
  </div>
  <div class=" col-lg-6">
    <div class=" card card-chart">
      <div class=" card-header">
        <h5 class=" card-category"></h5>
        <h3 class=" card-title">
          <i class=" tim-icons icon-delivery-fast text-info"> </i> 
        </h3>
      </div>
      <div class=" card-body">
        <div class=" chart-area"><div id="chartdiv6" style="width: 100%; height: 390px"></div></div>
      </div>
    </div>
  </div>
</div>
</div>
