
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$black-dashboard-angular-primary: mat-palette($mat-indigo);
$black-dashboard-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$black-dashboard-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$black-dashboard-angular-theme: mat-light-theme((
  color: (
    primary: $black-dashboard-angular-primary,
    accent: $black-dashboard-angular-accent,
    warn: $black-dashboard-angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($black-dashboard-angular-theme);

/* You can add global styles to this file, and also import other style files */
body {
    background: url('./assets/fondo.png');
    background-size: auto !important   ;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
div#chartdiv div {
    background: black;
    border-radius: 20px;
}
div#chartdiv-2 div {
    height: 400px !important;
    background: black;
    border-radius: 10px;
}
#main div {
    background: black;
}

#main canvas {
    width: 380px !important;
}
g text {
    fill: white;
}
.main-panel, .sidebar-wrappe {
    background: transparent !important;
}
.card {
    background: black !important;
}
.card-chart .card-header .card-category {
    font-family: Montserrat;
    font-size: 18px;
    color: #b2a863 !important;
}
.card-header {
    background: #242021 !important;
}

.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini {
    width: 100% !important;
    margin-left: 0px !important;
    height: 80px;
}
.sidebar, .sidebar, .off-canvas-sidebar, .off-canvas-sidebar {
        background: #231f20 !important; 
    }
.navbar .navbar-wrapper a {
        display: block;
        position: fixed !important;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 380px;
        font-size: 70px;
        font-weight: 500;
        left: -4px;
        color: #ffffff85;
        background: transparent !important;
}
.main-panel .content {
    padding: 108px 30px 30px 280px;}    

.logo-extras {
        margin: 40px auto;
        text-align: center;
}
.logo-extras img {
    width: 20%;
}

li.nav-item.active {
    list-style: none;
    background: #ff5252;
    width: 150px;
    border-radius: 15px;
}
li.escritorio.nav-item {
    list-style: none;
    background: #ff5252;
    width: 150px;
    border-radius: 15px;
}
li.Tablas.nav-item {
    list-style: none;
    background: #fb6808;
    width: 150px;
    border-radius: 15px;
}
li.inventory.nav-item {
    list-style: none;
    background: #b030ff;
    width: 150px;
    border-radius: 15px;
}





//Media queries
@media(max-width: 480px){
    body {
        background: url('./assets/fondo.png');
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .navbar .navbar-wrapper a {
        display: block;
        position: relative !important; 
        -webkit-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important; 
        top: 0px !important;
        font-size: 1rem !important;
        font-weight: 500;
        left: auto !important;
        color: #fff;
        background: transparent !important;
    }
}