
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$black-dashboard-angular-primary: mat-palette($mat-indigo);
$black-dashboard-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$black-dashboard-angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$black-dashboard-angular-theme: mat-light-theme((
  color: (
    primary: $black-dashboard-angular-primary,
    accent: $black-dashboard-angular-accent,
    warn: $black-dashboard-angular-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($black-dashboard-angular-theme);

/* You can add global styles to this file, and also import other style files */
body {
    background: url('./assets/fondo.png');
    background-size: auto !important   ;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
div#chartdiv div {
    background: black;
    border-radius: 20px;
}
div#chartdiv-2 div {
    height: 400px !important;
    background: black;
    border-radius: 10px;
}
#main div {
    background: black;
}

#main canvas {
    width: 380px !important;
}
g text {
    fill: white;
}
.main-panel, .sidebar-wrappe {
    background: transparent !important;
}
.card {
    background: black !important;
}
.card-chart .card-header .card-category {
    font-family: Montserrat;
    font-size: 18px;
    color: #b2a863 !important;
}
.card-header {
    background: #242021 !important;
}

.sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-mini {
    width: 100% !important;
    margin-left: 0px !important;
    height: 80px;
}
.sidebar, .sidebar, .off-canvas-sidebar, .off-canvas-sidebar {
        background: #231f20 !important; 
    }
.navbar .navbar-wrapper a {
        display: block;
        position: fixed !important;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        top: 380px;
        font-size: 70px;
        font-weight: 500;
        left: -4px;
        color: #ffffff85;
        background: transparent !important;
}
.main-panel .content {
    padding: 108px 30px 30px 280px;}    

.logo-extras {
        margin: 40px auto;
        text-align: center;
}
.logo-extras img {
    width: 20%;
}

li.nav-item.active {
    list-style: none;
    background: #ff5252;
    width: 150px;
    border-radius: 15px;
}
li.escritorio.nav-item {
    list-style: none;
    background: #ff5252;
    width: 150px;
    border-radius: 15px;
}
li.Tablas.nav-item {
    list-style: none;
    background: #fb6808;
    width: 150px;
    border-radius: 15px;
}
li.inventory.nav-item {
    list-style: none;
    background: #b030ff;
    width: 150px;
    border-radius: 15px;
}
li.options.nav-item {
    list-style: none;
    background: #d91c5c;
    width: 150px;
    border-radius: 15px;
}

/*Estilos de tablas Dark*/
.mat-paginator {
    background: #ffffff00;
}
.mat-paginator-container, 
.mat-select-value, 
.mat-select-arrow, 
.mat-icon-button.mat-button-disabled.mat-button-disabled, 
.mat-form-field-appearance-legacy .mat-form-field-label{
    color: rgb(255 254 254) !important;
} 
.mat-form-field-appearance-legacy .mat-form-field-underline {
    background: white !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #2f2d2e !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgb(255 254 254) !important;
}
table.mat-table {
    border-spacing: 6px !important;
    border-collapse: separate;
    background: transparent !important;
}

.mat-cell, .mat-footer-cell {
    color: rgb(255 255 255 / 87%);
    text-align: center;
    font-size: 12px !important;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
     padding-left: 10px !important; 
}

table.mat-table.cdk-table.mat-sort.mat-elevation-z8 {
    width: 100%;
}
th.header-palletized {
    background: #f17921;
    color: white;
    font-weight: 600;
    padding: 0 0 0 5px !important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 20px;
}
.mat-sort-header-content {
    justify-content: space-between;
    width: 160px;
}
.box-header {
    width: 25%;
    height: auto;
    background: #69462c;
    padding: 0px 5px;
    margin-right: -12px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    position: relative;
    display: inline-block;
}

.circle {
    width: 20px;
    height: 45px;
    position: relative;
    left: -11px;
    background: #ec7620;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
}

.icon-img {
    width: 40px;
    height: 30px;
    background: url('./assets/icon-white.png');
    background-size: 17px 10px;
    position: absolute;
    top: 9px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: right;
}
.mat-sort-header-arrow, [dir=rtl] .mat-sort-header-position-before .mat-sort-header-arrow {
    margin: 0 0 0 -10px;
    color: transparent;
}

.orders .mat-sort-header-content {
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 135px;
}
table.mat-table.orders{
    border-collapse: collapse;
    max-height: 500px;
    overflow: auto;
}
.table-orders{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

/*Estilos de tablas White*/
.white-content .mat-paginator {
    background: #ffffff00;
}
.white-content .mat-paginator-container, .white-content .mat-select-value, .white-content .mat-select-arrow, .white-content .mat-form-field-appearance-legacy .mat-form-field-underline, .white-content .mat-icon-button.mat-button-disabled.mat-button-disabled {
    color: #000 !important;
}
.white-content .table-striped tbody tr:nth-of-type(odd) {
    background-color: #2f2d2e2b !important;
}
table.mat-table {
    border-collapse: separate;
}
.mat-table {
    background: transparent !important;
}
.white-content .mat-cell, .mat-footer-cell {
    color: #000;
    text-align: center;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
     padding-left: 10px !important; 
}
.white-content .mat-table thead, .white-content [mat-header-row]{
    background: transparent !important;
}
.white-content th.header-palletized {
    background: #f17921;
    color: #000 !important;
    font-weight: 600;
    padding: 15px !important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


//Media queries
@media(max-width: 480px){
    body {
        background: url('./assets/fondo.png');
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    body .main-panel .content {
        padding-left: 15px !important;
    }
    .navbar .navbar-wrapper a {
        display: block;
        position: relative !important; 
        -webkit-transform: rotate(0deg) !important;
        transform: rotate(0deg) !important; 
        top: 0px !important;
        font-size: 1rem !important;
        font-weight: 500;
        left: auto !important;
        color: #fff;
        background: transparent !important;
    }
    .mat-sort-header-content {
        justify-content: space-between;
        width: 40px !important;
        font-size: 10px !important;
        padding-left: 4px;
    }
    th.header-palletized {
        width: auto !important;
    }
    .fixed-plugin {
        top: 80px !important;
    }
    body .fixed-plugin .dropdown-menu{
        top: 22px !important;
    }
    .box-header{
        display: none;
    }
}