/* You can add global styles to this file, and also import other style files */
div#chartdiv div {
    background: white;
    border-radius: 20px;
}
div#chartdiv-2 div {
    height: 400px !important;
    background: white;
    border-radius: 10px;
}